@media screen and (max-width: 1276px) {
  .image {
    width: 185%;
    position: relative;
    left: -56px;
  }

  .founderText {
    width: 75%;
  }

  .cardBg {
    width: 115%;
  }

  .ContactImage {
    width: 143%;
    left: -60px;
  }

  .aboutBg {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1137px) {
  .aboutButtons {
    margin-top: 10px;
  }

  .aboutBgOne {
    width: 35%;
    padding: 20px;
  }
  .aboutBgTwo {
    padding: 20px;
  }

  .image {
    width: 195%;
  }

  .cardBg {
    width: 140%;
  }

  .TestiHeading {
    width: 32%;
  }

  .ContactImage {
    width: 160%;
    left: -85px;
  }
}

@media screen and (max-width: 1020px) {
  .bannerHeading {
    font-size: 30px;
  }

  .aboutBgOne {
    display: flex;
    align-items: center;
  }

  .founderBox {
    width: 43%;
  }

  .founderText {
    width: 72%;
  }

  .cardText {
    font-size: 16px;
  }

  .cardBg {
    width: 160%;
  }

  .contactHeadBox {
    padding: 0px 0%;
  }

  .contactImgBox {
    display: block;
  }
  .contactImg {
    width: 100%;
    height: 230px;
  }

  .contactBox {
    width: 85%;
  }
}

@media screen and (max-width: 892px) {
  .funderName {
    font-size: 16px;
  }
  .aboutHeading {
    font-size: 40px;
  }
  .aboutSubHead {
    font-size: 16px;
  }

  .founder {
    gap: 20px;
  }

  .cardBg {
    width: 180%;
  }
}

@media screen and (max-width: 824px) {
  .funderName {
    font-size: 14px;
  }
  .funderposition {
    font-size: 16px;
  }

  .founderText {
    width: 68%;
  }

  .ContactImage {
    width: 170%;
  }
}

@media screen and (max-width: 768px) {
  .bannerHeading {
    font-size: 24px;
  }

  .header {
    background-position: -140px;
  }
  .bannerSubhead {
    font-size: 15px;
  }

  .aboutBgOne {
    display: none;
  }

  .aboutBgTwo {
    width: 87%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 30px;
  }

  .contactHead {
    width: 100%;
    gap: 30px;
  }

  .contactBg {
    flex-direction: column;
    gap: 40px;
  }

  .contactInputs {
    width: 100%;
  }

  .ContactImage {
    width: 100%;
    left: 0px;
  }

  .contactImgBox {
    display: flex;
    justify-content: center;
  }

  .contactImg {
    width: 85%;
  }

  .contactHeadBox {
    padding: 0px 7%;
  }

  .TestiHeading {
    width: 40%;
    font-size: 16px;
  }

  .cardBg {
    width: 245%;
  }
}

@media screen and (max-width: 688px) {
  .service {
    gap: 30px;
  }

  .navbar {
    justify-content: space-between;
  }
  .logo {
    width: 35%;
  }
}

@media screen and (max-width: 628px) {
  .header {
    background-position: -230px;
  }
  .bannerHeading {
    font-size: 20px;
  }

  .bannerSubhead {
    font-size: 12px;
  }

  .TestiHeading {
    width: 50%;
    font-size: 12px;
  }

  .cardBg {
    width: 305%;
  }

  .ContactImage {
    width: 114%;
    left: -32px;
  }
}

@media screen and (max-width: 549px) {
  .header {
    background-position: -260px;
  }
  .cardBg {
    width: 347%;
  }

  .funderposition {
    font-size: 13px;
  }
  .funderName {
    font-size: 15px;
  }
  .founderText {
    width: 68%;
  }

  .bannerSubhead {
    font-size: 11px;
  }

  .bannerHeading {
    font-size: 18px;
  }

  .founder {
    gap: 13px;
  }

  .contactBg {
    gap: 20px;
  }
  .funderName {
    font-size: 14px;
  }
  .ContactImage {
    width: 128%;
    left: -45px;
  }

  .logo {
    width: 40%;
  }

  .navbg {
    display: none;
  }
}

@media screen and (max-width: 492px) {
  .founder {
    display: none;
  }

  .aboutBg {
    margin-bottom: 0px;
  }

  .cardBg {
    width: 380%;
  }
}

@media screen and (max-width: 441px) {
  .cardBg {
    width: 432%;
  }
  .otherInp {
    font-size: 18px;
  }

  .modal-content {
    max-width: 330px;
  }

  .ContactImage {
    width: 150%;
    left: -52px;
  }
}

@media screen and (max-width: 400px) {
  .header {
    background-position: -413px;
    height: 80vh;
  }

  .namebox {
    font-size: 16px;
  }

  .banner {
    height: 470px;
  }
  .bannerHeading {
    font-size: 13px;
  }

  .bannerSubhead {
    font-size: 8px;
  }

  .founder {
    display: none;
  }

  .founderBox {
    width: 69%;
  }

  .aboutHeading {
    font-size: 33px;
  }

  .aboutSubHead {
    font-size: 15px;
  }

  .aboutBg {
    margin-bottom: 10px;
  }

  .modal-content {
    max-width: 290px;
  }

  .cardBg {
    width: 490%;
  }

  .sectionHeading {
    margin-bottom: 20px;
  }

  .contactImg {
    height: 185px;
  }

  .TestiHeading {
    width: 58%;
    font-size: 11px;
  }

  .otherInp {
    font-size: 16px;
  }
}

@media screen and (max-width: 376px) {
  .logo {
    width: 45%;
  }
  .cardBg {
    width: 530%;
  }

  .sectionHeading {
    font-size: 18px;
  }
}

@media screen and (max-width: 367px) {
  .cardBg {
    width: 540%;
  }
  .aboutLernBtn {
    margin-right: 5px;
  }

  .aboutBgTwo {
    padding: 20px;
    gap: 15px;
  }
}

@media screen and (max-width: 992px) {
  .item-title {
    text-align: center;
  }
}

@media screen and (max-width: 321px) {
  .aboutLernBtn {
    padding: 10px 15px;
  }

  .modal-content {
    max-width: 235px;
  }

  .cardBg {
    width: 610%;
  }
  .ContactImage {
    left: -22px;
    width: 162%;
  }

  .otherInp {
    font-size: 14px;
  }

  .namebox {
    font-size: 14px;
  }

  .logo {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .contentbtn {
    display: none;
  }
  .checkbtn {
    display: block;
    order: 1;
    margin-right: 20px;
  }

  ul {
    position: fixed;
    top: 65px;
    right: -100%;
    background-color: #0000008a;
    width: 35%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s;
    justify-content: start;
    padding-top: 15px;
  }

  ul li {
    margin: 20px 0;
  }

  ul li a {
    font-size: 20px;
  }

  #check:checked ~ ul {
    right: 0;
  }
}

@media (max-width: 400px) {
  ul {
    width: 50%;
  }
}
